# GitHub OAuth Configuration
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_PERSONAL_TOKEN=
# Terraform Cloud Configuration
TERRAFORM_CLOUD_API_TOKEN=
TERRAFORM_CLOUD_ORG_NAME=sajjadkhan
TERRAFORM_CLOUD_REPO=
TERRAFORM_CLOUD_BRANCH=main
TERRAFORM_CLOUD_WORKING_DIR=
TERRAFORM_CLOUD_TF_VERSION=1.6.0
# Leave this empty - it will be fetched automatically from Terraform Cloud
TERRAFORM_CLOUD_OAUTH_TOKEN_ID=

# PostgreSQL Database Configuration
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=